{% extends 'base.html' %}
{% load static %}

{% block card %}
    <link rel="stylesheet" type="text/css" href="{% static "css/home_cards.css" %}">
    <div class="container">
        <div class="row">
            {% for restaurant in restaurants %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <a href="">
                            <img src="{% static "images/mc.png" %}" class="card-img-top" height="230"
                                 alt="">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ restaurant.restaurant_name }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock card %}