{% extends 'base.html' %}
{% block card %}
    <br>
    <div class="center">
        <div class="card" align="center">
            <div class="card-body">
                <h4 class="card-title">კითხვარი სმნ</h4>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
{#                    <select class="form-select" aria-label="select location" name="location" id="location">#}
{#                        <option value=რესტორანში>რესტორანში</option>#}
{#                        <option value=ოფისში>ოფისში</option>#}
{#                    </select>#}
{#                    <div class="form-group">#}
{#                        <label for="exampleFormControlTextarea1">მენიუ ბრატ</label>#}
{#                        <textarea class="form-control" id="exampleFormControlTextarea1 " name="text"#}
{#                                  rows="3"></textarea>#}
{#                    </div>#}
{#                    <div class="form-check">#}
{#                        <input class="form-check-input" type="checkbox" value="e" id="flexCheckDefault" name="checkbox">#}
{#                        <label class="form-check-label" for="flexCheckDefault">#}
{#                            შემიძლია გადახდა#}
{#                        </label>#}
{#                    </div>#}
                    <br>
                    <input class="btn btn-success" type="submit" value="შევსება">
                </form>
            </div>
        </div>
    </div>
{% endblock card %}