{% extends 'base.html' %}
{% load static %}
{% block card %}
    <link rel="stylesheet" type="text/css" href="{% static "css/alert.css" %}">
    <div class="center">
        <div class="card" align="center">
            <form method="POST" id="choice-form" class="choice-form">
                {% csrf_token %}
                <div class="card-body">
                    <br>
                    <br>
                    <h4 class="card-title">რომელი რესტორნის საკვები გნებავთ?</h4>
                    <br>
                    <br>
                    <br>
                    <br>
                    <select class="form-select" aria-label="Default select example" name="restaurant_name"
                            id="restaurant_name">
                        <option selected>გახსენით მენიუ</option>
                        {% for restaurant in restaurants %}
                            <option value={{ restaurant }}>{{ restaurant }}</option>
                        {% endfor %}
                        <option>სხვა</option>
                    </select>
                    {% if error %}
                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <b>{{ error }}</b>
                        </div>
                    {% endif %}
                </div>
                <br>
                <br>
                <br>
                <br>
                <input class="btn btn-success" type="submit" value="არჩევა">
            </form>
        </div>
    </div>
{% endblock card %}